@font-face {
    font-family: headlineFont;
    src: url(headlines/Headlines-BoldItalic.otf);
}

body {
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.header-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 13rem;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

.video-bg {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

.logo {
    margin-top: -32rem;
}

.ul-header-section {
    display: flex;
    gap: 30px;
    /* to bring the header lists up */
    margin-top: -31rem;
}

.ul-header-section li {
    list-style: none;
    text-decoration: none;
}

.ul-header-section li a {
    text-decoration: none;
    color: white;
}

.ul-search li {
    list-style: none;
    cursor: pointer;
    /* to take the search icon up */
    margin-top: -17rem;
}

.ul-search li i {
    color: white;
}

.header-desc {
    width: 70%;
    margin: auto;
    margin-top: -35rem;
}

.earn-desc h1 {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 50px;
}

.sign-up a {
    background-color: #f7c119;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    text-decoration: none;
    color: white;
    padding: 12px 20px 14px 20px;
    border-radius: 30px;
    cursor: pointer;
}

.benefits-section {
    margin-top: 160px;
    background-color: rgb(196, 192, 192);
    padding-top: 70px;
    padding-bottom: 50px;
}

.benefits {
    width: 80%;
    margin: auto;
}

.reason-div, 
.express-desc {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: auto;
    gap: 20px;
}

.reasons-to-join {
    width: 80%;
    margin: auto;
}

.section-two {
    display: flex;
    height: 90vh;
    background-color: #f5f5f5;
}

.section-two-div {
    background-color: #f5f5f5;
    border-radius: 0 30px 0 0;
    padding-left: 100px;
    padding-right: 100px;
    position: relative;
    z-index: 1;
    left: 30px;
}

.easy-fast h2 {
    /* font-family: "Roboto", sans-serif; */
    font-family: headlineFont, sans-serif;
    font-weight: bolder;
    letter-spacing: 6px;
    font-size: 65px;
    line-height: 53px;
}

.section-two-img {
    display: flex;
    gap: 10px;
    margin-top: -40px;
    margin-bottom: 100px;
}

.section2img img {
    width: 70px;
    height: 70px;
}

.section-two-p p {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 700;
}

.contact-us {
    margin-top: 40px;
}

.contact-us a {
    background-color: #f7c119;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    text-decoration: none;
    color: white;
    padding: 12px 80px 14px 80px;
    border-radius: 10px;
    cursor: pointer;
}

.side-img img {
    width: 45vw;
    height: 90vh;
    position: absolute;
}


/* .section-two-div {
    display: flex;
}

.section-two-div {
    background-color: #f5f5f5;
    border-radius: 0 50px 0 0;
}

.easy-fast h2 {
    font-size: 53px;
    line-height: 48px;
}

.section-two-img {
    display: flex;
    gap: 20px;
}

.section-two-img img {
    width: 300px;
    height: 300px;
    z-index: -1;
} */

.how-it-works-section {
    margin-top: 40px;
    margin-bottom: 100px;
}

.like-a-taxi {
    text-align: center;
}

.how-it-works {
    text-align: center;
    margin-bottom: 80px;
}

.icon-div {
    text-align: center;
}

.image-section {
    background-image:linear-gradient(0deg,
     rgba(0, 0, 0, 0.6),
     rgba(0, 0, 0, 0.6)),
     url(images/nicePage.jpeg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

.parent-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    width: 80%;
    margin: auto;
}

.icon-parent {
    display: flex;
    gap: 10px;
}

.icon {
    background-color: #f7c119;
    padding-top: 20px;
    padding-left: 22px;
    border-radius: 50%;
    width: 37px;
    height: 37px;
}

.icon i {
    width: 100px;
    height: 100px;
}

.image-section-div {
    text-align: center;
    padding-top: 30px;
    color: white;
}

.section-desc {
    margin-left: 10px;
}

.section-desc h3 {
    color: #f7c119;
}

.section-three-div p {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    font-size: 20px;
}

.section-three-div {
    width: 80%;
    margin-left: 80px;
}