@font-face {
    font-family: headlineFontBold;
    src: url(headlines/Headlines-Bold.otf);
}

@font-face {
    font-family: headLineFontMedium;
    src: url(headlines/Headlines-Medium.otf);
}

@font-face {
    font-family: headlineFontRegular;
    src: url(headlines/Headlines-Regular.otf);
}

body {
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.header-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 13rem;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

.video-bg {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

.logo {
    margin-top: -32rem;
}

.ul-header-section {
    display: flex;
    gap: 30px;
    /* to bring the header lists up */
    margin-top: -31rem;
}

.ul-header-section li {
    list-style: none;
    text-decoration: none;
}

.ul-header-section li a {
    text-decoration: none;
    color: white;
}

.ul-search li {
    list-style: none;
    cursor: pointer;
    /* to take the search icon up */
    margin-top: -17rem;
}

.ul-search li i {
    color: white;
}

.header-desc {
    width: 70%;
    margin: auto;
    margin-top: -35rem;
}

.earn-desc h1 {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 50px;
}

.sign-up a {
    background-color: #f7c119;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    text-decoration: none;
    color: white;
    padding: 12px 20px 14px 20px;
    border-radius: 30px;
    cursor: pointer;
}

.benefits-section {
    margin-top: 160px;
    /* background-color: rgb(196, 192, 192); */
    padding-top: 70px;
    padding-bottom: 50px;
}

.benefits {
    width: 80%;
    margin: auto;
}

.benefits h2 {
    font-family: headLineFontMedium;
    font-size: 40px;
    letter-spacing: 2px;
}

.reason-div, 
.express-desc {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: auto;
    gap: 20px;
}

.reasons-to-join {
    width: 80%;
    margin: auto;
}

.delivery-images img {
    width: 35x;
    height: 35px;
}

.weekly-payout h4 {
    font-family: headlineFontRegular;
    font-weight: 800;
    font-size: 30px;
    letter-spacing: 2px;
}

.weekly-payout p {
    font-family: headlineFontRegular;
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: -10px;
}

.section-two {
    display: flex;
    height: 90vh;
    /* background-color: #f5f5f5; */
}

.section-two-div {
    background-color: #f5f5f5;
    border-radius: 30px;
    padding-left: 100px;
    padding-right: 100px;
    position: relative;
    z-index: 1;
    left: 30px;
    margin-left: 10px;
}

.easy-fast h2 {
    /* font-family: "Roboto", sans-serif; */
    font-family: headlineFontBold, sans-serif;
    font-weight: bolder;
    letter-spacing: 6px;
    font-size: 65px;
    line-height: 53px;
}

.section-two-img {
    display: flex;
    gap: 10px;
    margin-top: -40px;
    margin-bottom: 100px;
}

.section2img img {
    width: 70px;
    height: 70px;
}

.section-two-p p {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 700;
}

.contact-us {
    margin-top: 40px;
}

.contact-us a {
    background-color: #f7c119;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    text-decoration: none;
    color: white;
    padding: 12px 80px 14px 80px;
    border-radius: 10px;
    cursor: pointer;
}

.side-img img {
    width: 45vw;
    height: 90vh;
    border-radius: 0 30px 30px 0;
    position: absolute;
}

.how-it-works-section {
    height: 60vh;
    margin-top: -20px;
    margin-bottom: 80px;
}

.how-it-works {
    text-align: center;
    margin-bottom: 80px;
    margin-top: 100px;
}

.how-it-works h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
}

.icon-div {
    text-align: center;
}

.icon-div p {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
}

.sectionThree {
    display: flex;
    height: 90vh;
    margin-left: 60px;
}

.sectionThreeDiv {
    background-color: #f5f5f5;
    border-radius: 28px;
    padding-left: 100px;
    padding-right: 100px;
    position: relative;
    z-index: 1;
    left: 30px;
    margin-left: 10px;
    height: 28.7rem;
}


.sectionThreeParagraph p {
    font-family: headlineFontRegular;
    margin-top: 150px;
    font-size: 22px;
    font-weight: bold;
}

.sectionThreeVideo {
    width: 45vw;
    border-radius: 0 30px 30px 0;
    position: absolute;
}

.sectionFour {
    background-color: #f5f5f5;
    padding-top: 20px;
    border-radius: 30px 30px 0 0;
}

.secFourGrandDiv {
    display: flex;
    width: 80%;
    margin: auto;
}

.sectionFourDiveOne h1 {
    font-family: headlineFontBold;
    font-size: 60px;
    letter-spacing: 2px;
    line-height: 50px;
}